# Dependency directories
node_modules/
jspm_packages/

# Next.js build output
.next/
out/

# PlatformIO build output
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# Environment variables (contains database credentials)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.local.php

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata files
.DS_Store
Thumbs.db

# Temporary batch scripts and logs
powershell.bat
*.log
